body {
    background-color: #333333;
    color: white;
    font-family: Arial, sans-serif;
}

.title {
    height: 5%;
}

#posts {
    height: 100%;
}

.post-form {
    height: 100%;
}

.user_info {
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#404040;
}

.post_area{
    padding: 5px;
    text-align: center;
    margin: auto;
    width: 1000px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#404040;
}