<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="public/style.css"/>
    <meta charset="UTF-8">
</head>

<body onload="newPost();">
    <script src="public/make_post.js"></script>
    <p id="paragraph">
        <div class="title">
            <h3><center>Just fill out the details and press post</center></h3>
        </div>
    </p>
    <div class="post-form">
        <hr>
        <div id="user">Username:
        </div>
        <label>
            Question Title:
            <input id="post-title-box" type="text"><br><br>
            Question Description:
            <input id="post-description-box" type="text"><br><br>
        </label>
        <form action="/profile-pic" id="image-form" method="post" enctype="multipart/form-data">
            <br/>
            <label for="form-file">Upload picture for your question</label>
            <input id="form-file" type="file" name="upload">
            <br/>
        </form>
        <button id="post-button" onclick="sendPost()">Post</button><br> <!-- Have to modify javascript so that it will also send a picture if it is selected -->
        <button id="logout-button" onclick="logOut()">Logout</button><br><br><br><br>
    </div>
    <div id="posts">
    </div>
</body>
</html>