<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="public/style.css"/>
    <meta charset="UTF-8">
</head>

<body onload="newPost();">
    <script src="public/make_post.js"></script>
    <p id="paragraph">
        <div class="title">
            <h3><center>Just fill out the details and press post</center></h3>
        </div>
    </p>
    <div class="post-form">
        <hr>
        <label>
            Title:
            <input id="post-title-box" type="text"><br><br>
            Description:
            <input id="post-description-box" type="text"><br><br>
        </label>
        <button id="post-button" onclick="sendPost()">Post</button><br>
        <button id="logout-button" onclick="logOut()">Logout</button><br><br><br><br>
    </div>
    <div id="posts">
    </div>
</body>
</html>