<html lang="en"><head>
    <link rel="stylesheet" type="text/css" href="public/style.css">
    <meta charset="UTF-8">
</head>

<body onload="newPost();">
    <script src="public/make_post.js"></script>
    <script src="public/socket.io.js"></script>
    <p id="paragraph">
            <h3><center>Grades</center></h3>
        </div>
    <p></p>
    <hr>
    <div id="user">Username:</div><br>
    <label id="questions-answered">Questions Answered: </label><br>
    <label id="questions-correct">Questions Correct: </label><br>
    <label id="calculated-grade">Calculated Grade: </label><br>
    <div class="title">
        <h3>Grades for answered questions</h3><hr>
    </div><br><br>
    <div class="title">
        <h3>Scores for my own questions</h3><hr>
    </div><br>




</body></html>