<html lang="en"><head>
    <link rel="stylesheet" type="text/css" href="public/style.css">
    <meta charset="UTF-8">
</head>
<!-- <body onload="newPost();"> -->

<body>
    <script src="public/make_post.js"></script>
    <script src="public/socket.io.js"></script>
    <p id="paragraph">
            <h3><center>Grades</center></h3>
        </div>
    <p></p>
    <hr>
    <div id="user" style="color: orange;text-align: center;margin: auto;padding: 5px;width: 300px;border: 1px solid black;border-radius: 20px;background-color:#404040;"><b><center>Username: </center></b>
    </div>
    <br>
    <div class="title">
        <h3><center>User's Grades</center></h3><hr>
    </div><br>
    <div id="answered-questions">
    </div>
    <br><br>
    <div class="title">
        <h3><center>Gradebook for my questions</center></h3><hr>
    </div><br>
    
    <div id="question-gradebook">
    </div>
    <br>
</body>
<script>
    getUsername();
    updateGradedPost();
    updateQuestionGradebook();

</script>
</html>