<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSE312 Not Tophat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/login.css"/>
    <script src="public/login.js"></script>
</head>

<div class="titlebar">
    <h1>CSE312 Not Tophat</h1>
</div>

<div class="authentication">
    <div>
        <div class="loginbox">
            <div>
                Register:
                <br>
                <label>Email:<input id="email-form" type="text" name="email_reg"></label>
                <br/>
                <label>Username:<input id="reg-form-username" type="text" name="username_reg"/></label>
                <br/>
                <label>Password:<input id="reg-form-pass" type="password" name="password_reg"></label>
                <br/>
                <br/>
                <button id="registerbutton" onclick="registerAccount()">Register</button>
                <br/>
                Login:
                <br>
                <label>Username:
                    <input id="login-form-username" type="text" name="username_login"/>
                </label>
                <br/>
                <label>Password:&nbsp;
                    <input id="login-form-pass" type="password" name="password_login">
                </label>
                <br/>
                <br>
                <button id="loginbutton" onclick="loginAccount()">Login</button>
                </form>
                <br>
                <br>
                <button id="guest" onclick="guestView()">Guest View</button>
            </div>
        </div>
    </div>
</div>

</html>
